.bookLink {
    color: black;
}

.bookLink :hover {
    text-decoration: underline;
    color: blue;
}

.uberDiv {
    width: calc(100% - 5px);
    /* margin-left: 5px; */
    outline: solid;
    outline-color: rgb(122, 197, 122);
    outline-width: 1px;

    padding-left: 5px;
    padding-bottom: 5px;
}

summary {
    font-size: larger;
}

summary:focus {
    outline: none;
}

#containerBoxes {
    margin: 5px;
}

.bookBox {
    display: inline-block;
    /* width: 125px;
    height: 125px; */
    outline: 1px solid black;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
}

.summaryKlassenstufe {
    font-weight: bold;
}