.button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--font-dark);
}

.button:hover {
    background-color: var(--font-dark);
    color: var(--primary-color);
}

.smallFlexButton {
    width: fit-content;
}

.secondaryButton {
    background-color: var(--secondary-color);
    color: var(--font-dark);
}