.baseDataPanel {
    background-color: var(--primary-color);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0;
}

@media (max-width: 600px) {
    .baseDataPanel {
        grid-template-columns: 1fr;
    }
}