:root {
    --primary-color: #7ABB7AFF;
    --secondary-color: #C0FFC0FF;
    --font-light: #f8f9fa;
    --font-dark: #343a40;
}

* {
    font-family: monospace;
    font-size: large;
}

body {
    background-color: var(--secondary-color);
    margin: 0;
}