.studentTable {
    border-collapse: collapse;
    max-width: 100vw;
    overflow-x: auto;
}

.studentTable tr td,
.studentTable tr th {
    border-left: 1px solid var(--font-dark);
    border-right: 1px solid var(--font-dark);
    padding-left: 2px;
    padding-right: 2px;
}

.studentTable tr td:first-child,
.studentTable tr th:first-child {
    border-left: none;
}

.studentTable tr td:last-child,
.studentTable tr th:last-child {
    border-right: none;
}

.studentTable tr:nth-child(odd) {
    background-color: var(--primary-color);
}

.studentTable tr:hover {
    font-weight: bold;
}
